$color-white: #f8f8ff;
$color-black: #031602;
$color-danger: #FF2400;

$background-color: $color-white;

$color-primary: #4CAF50;
$color-secondary: #424242;
$color-disabled: #cccccc6b;

$border-color: #ccc;
