$color-white: #f8f8ff;
$color-black: #0C0C0C;
$color-danger: #DC143C;


$background-color: $color-white;

$color-primary: #1976D2;
$color-secondary: #757575;
$color-disabled: #cccccc6b;

$border-color: #ccc;
